USE [master]
GO
/****** Object:  Database [RestarauntDelivery]    Script Date: 01.05.2024 21:43:35 ******/
CREATE DATABASE [RestarauntDelivery]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'RestarauntDelivery', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\RestarauntDelivery.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'RestarauntDelivery_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\RestarauntDelivery_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [RestarauntDelivery].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [RestarauntDelivery]
GO
/****** Object:  Table [dbo].[Cotegories]    Script Date: 01.05.2024 21:43:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cotegories](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
 CONSTRAINT [PK_Cotegories] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 01.05.2024 21:43:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NULL,
	[SurName] [nvarchar](50) NULL,
	[Patronymic] [nvarchar](50) NULL,
	[PhoneNumber] [nvarchar](50) NULL,
	[Adress] [nvarchar](100) NULL,
	[Login] [nvarchar](50) NULL,
	[Password] [nvarchar](50) NULL,
	[Email] [nvarchar](200) NULL,
	[IsDismissed] [bit] NULL,
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Deliverer]    Script Date: 01.05.2024 21:43:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Deliverer](
	[ID] [int] NOT NULL,
	[EmployeeID] [int] NULL,
 CONSTRAINT [PK_Deliverer] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Delivery]    Script Date: 01.05.2024 21:43:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Delivery](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeID] [int] NULL,
	[OrederID] [int] NULL,
 CONSTRAINT [PK_Delivery] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 01.05.2024 21:43:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Surname] [nvarchar](50) NULL,
	[Patronymic] [nvarchar](50) NULL,
	[PhoneNumber] [nvarchar](50) NULL,
	[RoleID] [int] NULL,
	[Login] [nvarchar](50) NULL,
	[Password] [nvarchar](50) NULL,
	[RestaurantID] [int] NULL,
	[Email] [nvarchar](200) NULL,
	[IsDismissed] [bit] NULL,
 CONSTRAINT [PK_Employee] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmployeeRole]    Script Date: 01.05.2024 21:43:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeeRole](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Salary] [int] NULL,
 CONSTRAINT [PK_EmployeeRole] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ingridient]    Script Date: 01.05.2024 21:43:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ingridient](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Price] [float] NULL,
	[Description] [nvarchar](200) NULL,
 CONSTRAINT [PK_Ingridient] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Meal]    Script Date: 01.05.2024 21:43:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Meal](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Price] [float] NULL,
	[Images] [image] NULL,
	[CotegoriesID] [int] NULL,
	[Description] [nvarchar](200) NULL,
 CONSTRAINT [PK_Meal] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Meal_Ingridient]    Script Date: 01.05.2024 21:43:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Meal_Ingridient](
	[IngridientID] [int] NULL,
	[MealID] [int] NULL,
	[ID] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_Meal_Ingridient] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Options]    Script Date: 01.05.2024 21:43:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Options](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
 CONSTRAINT [PK_Options] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 01.05.2024 21:43:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DateTimes] [datetime] NULL,
	[StatusID] [int] NULL,
	[OptionsID] [int] NULL,
	[Code] [int] NULL,
	[Price] [int] NULL,
	[Address] [nvarchar](200) NULL,
	[RestaurantID] [int] NULL,
	[EmployeeID] [int] NULL,
 CONSTRAINT [PK_Order] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order_Meal]    Script Date: 01.05.2024 21:43:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order_Meal](
	[MealID] [int] NULL,
	[OrderID] [int] NULL,
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Count] [int] NULL,
	[CustomerID] [int] NULL,
 CONSTRAINT [PK_Order_Meal] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Restaurant]    Script Date: 01.05.2024 21:43:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Restaurant](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Addres] [nvarchar](200) NULL,
 CONSTRAINT [PK_Restaurant] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StatusOrder]    Script Date: 01.05.2024 21:43:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StatusOrder](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
 CONSTRAINT [PK_StatusOrder] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Supplier]    Script Date: 01.05.2024 21:43:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Supplier](
	[ID] [int] NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Adress] [nvarchar](50) NULL,
 CONSTRAINT [PK_Supplier] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Supplier_ingridient]    Script Date: 01.05.2024 21:43:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Supplier_ingridient](
	[IngridientID] [int] NULL,
	[SupplierID] [int] NULL,
	[ID] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_Supplier_ingridient] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Cotegories] ON 

INSERT [dbo].[Cotegories] ([ID], [Name]) VALUES (1, N'Первое')
INSERT [dbo].[Cotegories] ([ID], [Name]) VALUES (2, N'Второе')
INSERT [dbo].[Cotegories] ([ID], [Name]) VALUES (3, N'Салат')
SET IDENTITY_INSERT [dbo].[Cotegories] OFF
GO
SET IDENTITY_INSERT [dbo].[Customer] ON 

INSERT [dbo].[Customer] ([ID], [FirstName], [SurName], [Patronymic], [PhoneNumber], [Adress], [Login], [Password], [Email], [IsDismissed]) VALUES (1, N'Никита', N'Матвеев', NULL, N'89630353395', NULL, N'zawer', N'JKD7q363', N'kuzmenko_ka@mail.ru', 0)
SET IDENTITY_INSERT [dbo].[Customer] OFF
GO
SET IDENTITY_INSERT [dbo].[Employee] ON 

INSERT [dbo].[Employee] ([ID], [Name], [Surname], [Patronymic], [PhoneNumber], [RoleID], [Login], [Password], [RestaurantID], [Email], [IsDismissed]) VALUES (1, N'Андрей', N'Егоров', NULL, N'89872687269', 1, N'12345', N'2hCQK0rL', 2, N'kuzmenkokamail@gmail.com', NULL)
INSERT [dbo].[Employee] ([ID], [Name], [Surname], [Patronymic], [PhoneNumber], [RoleID], [Login], [Password], [RestaurantID], [Email], [IsDismissed]) VALUES (2, N'Кирилл', N'Шигапов', NULL, N'89651238596', 3, N'123', N'PYpT1NNQ', 2, N'nm650729@gmail.com', 0)
INSERT [dbo].[Employee] ([ID], [Name], [Surname], [Patronymic], [PhoneNumber], [RoleID], [Login], [Password], [RestaurantID], [Email], [IsDismissed]) VALUES (3, N'Боб', N'Биб', NULL, N'21312313131', NULL, N'qwe', N'12345', 2, N'Bob@mail.ru', NULL)
SET IDENTITY_INSERT [dbo].[Employee] OFF
GO
SET IDENTITY_INSERT [dbo].[EmployeeRole] ON 

INSERT [dbo].[EmployeeRole] ([ID], [Name], [Salary]) VALUES (1, N'Администратор', 150000)
INSERT [dbo].[EmployeeRole] ([ID], [Name], [Salary]) VALUES (2, N'Доставщик', 65000)
INSERT [dbo].[EmployeeRole] ([ID], [Name], [Salary]) VALUES (3, N'Менеджер', 80000)
SET IDENTITY_INSERT [dbo].[EmployeeRole] OFF
GO
SET IDENTITY_INSERT [dbo].[Meal] ON 

INSERT [dbo].[Meal] ([ID], [Name], [Price], [Images], [CotegoriesID], [Description]) VALUES (2, N'Бургер', 700, NULL, 2, N'Горячее блюдо, обычно состоящее из котлеты из измельчённого мяса, как правило, говядины, помещённой внутрь нарезанной булочки.')
SET IDENTITY_INSERT [dbo].[Meal] OFF
GO
SET IDENTITY_INSERT [dbo].[Options] ON 

INSERT [dbo].[Options] ([ID], [Name]) VALUES (1, N'В ресторане')
INSERT [dbo].[Options] ([ID], [Name]) VALUES (2, N'Доставка')
SET IDENTITY_INSERT [dbo].[Options] OFF
GO
SET IDENTITY_INSERT [dbo].[Order] ON 

INSERT [dbo].[Order] ([ID], [DateTimes], [StatusID], [OptionsID], [Code], [Price], [Address], [RestaurantID], [EmployeeID]) VALUES (1, CAST(N'2024-04-18T14:02:48.613' AS DateTime), NULL, NULL, 480916, 1800, N'', 1, NULL)
INSERT [dbo].[Order] ([ID], [DateTimes], [StatusID], [OptionsID], [Code], [Price], [Address], [RestaurantID], [EmployeeID]) VALUES (2, CAST(N'2024-04-18T14:04:26.463' AS DateTime), NULL, NULL, 497855, 450, N'', 1, NULL)
INSERT [dbo].[Order] ([ID], [DateTimes], [StatusID], [OptionsID], [Code], [Price], [Address], [RestaurantID], [EmployeeID]) VALUES (3, CAST(N'2024-04-18T14:05:26.860' AS DateTime), NULL, NULL, 306290, 900, N'', 1, NULL)
SET IDENTITY_INSERT [dbo].[Order] OFF
GO
SET IDENTITY_INSERT [dbo].[Order_Meal] ON 

INSERT [dbo].[Order_Meal] ([MealID], [OrderID], [ID], [Count], [CustomerID]) VALUES (1, 1, 12, 4, 1)
INSERT [dbo].[Order_Meal] ([MealID], [OrderID], [ID], [Count], [CustomerID]) VALUES (1, 2, 13, 1, 1)
INSERT [dbo].[Order_Meal] ([MealID], [OrderID], [ID], [Count], [CustomerID]) VALUES (1, 3, 14, 2, 1)
SET IDENTITY_INSERT [dbo].[Order_Meal] OFF
GO
SET IDENTITY_INSERT [dbo].[Restaurant] ON 

INSERT [dbo].[Restaurant] ([ID], [Addres]) VALUES (1, N'Все рестораны')
INSERT [dbo].[Restaurant] ([ID], [Addres]) VALUES (2, N'ул.Главная 52')
INSERT [dbo].[Restaurant] ([ID], [Addres]) VALUES (3, N'ул.Победы 75')
SET IDENTITY_INSERT [dbo].[Restaurant] OFF
GO
SET IDENTITY_INSERT [dbo].[StatusOrder] ON 

INSERT [dbo].[StatusOrder] ([ID], [Name]) VALUES (1, N'В обработке')
INSERT [dbo].[StatusOrder] ([ID], [Name]) VALUES (2, N'Принят')
INSERT [dbo].[StatusOrder] ([ID], [Name]) VALUES (3, N'Готов')
SET IDENTITY_INSERT [dbo].[StatusOrder] OFF
GO
ALTER TABLE [dbo].[Deliverer]  WITH CHECK ADD  CONSTRAINT [FK_Deliverer_Employee] FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employee] ([ID])
GO
ALTER TABLE [dbo].[Deliverer] CHECK CONSTRAINT [FK_Deliverer_Employee]
GO
ALTER TABLE [dbo].[Delivery]  WITH CHECK ADD  CONSTRAINT [FK_Delivery_Deliverer] FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Deliverer] ([ID])
GO
ALTER TABLE [dbo].[Delivery] CHECK CONSTRAINT [FK_Delivery_Deliverer]
GO
ALTER TABLE [dbo].[Delivery]  WITH CHECK ADD  CONSTRAINT [FK_Delivery_Employee] FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employee] ([ID])
GO
ALTER TABLE [dbo].[Delivery] CHECK CONSTRAINT [FK_Delivery_Employee]
GO
ALTER TABLE [dbo].[Delivery]  WITH CHECK ADD  CONSTRAINT [FK_Delivery_Order] FOREIGN KEY([OrederID])
REFERENCES [dbo].[Order] ([ID])
GO
ALTER TABLE [dbo].[Delivery] CHECK CONSTRAINT [FK_Delivery_Order]
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [FK_Employee_EmployeeRole] FOREIGN KEY([RoleID])
REFERENCES [dbo].[EmployeeRole] ([ID])
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [FK_Employee_EmployeeRole]
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [FK_Employee_Restaurant] FOREIGN KEY([RestaurantID])
REFERENCES [dbo].[Restaurant] ([ID])
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [FK_Employee_Restaurant]
GO
ALTER TABLE [dbo].[Meal]  WITH CHECK ADD  CONSTRAINT [FK_Meal_Cotegories] FOREIGN KEY([CotegoriesID])
REFERENCES [dbo].[Cotegories] ([ID])
GO
ALTER TABLE [dbo].[Meal] CHECK CONSTRAINT [FK_Meal_Cotegories]
GO
ALTER TABLE [dbo].[Meal_Ingridient]  WITH CHECK ADD  CONSTRAINT [FK_Meal_Ingridient_Ingridient] FOREIGN KEY([IngridientID])
REFERENCES [dbo].[Ingridient] ([ID])
GO
ALTER TABLE [dbo].[Meal_Ingridient] CHECK CONSTRAINT [FK_Meal_Ingridient_Ingridient]
GO
ALTER TABLE [dbo].[Meal_Ingridient]  WITH CHECK ADD  CONSTRAINT [FK_Meal_Ingridient_Meal] FOREIGN KEY([MealID])
REFERENCES [dbo].[Meal] ([ID])
GO
ALTER TABLE [dbo].[Meal_Ingridient] CHECK CONSTRAINT [FK_Meal_Ingridient_Meal]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Employee] FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employee] ([ID])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Employee]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Options] FOREIGN KEY([OptionsID])
REFERENCES [dbo].[Options] ([ID])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Options]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Restaurant] FOREIGN KEY([RestaurantID])
REFERENCES [dbo].[Restaurant] ([ID])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Restaurant]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_StatusOrder] FOREIGN KEY([StatusID])
REFERENCES [dbo].[StatusOrder] ([ID])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_StatusOrder]
GO
ALTER TABLE [dbo].[Order_Meal]  WITH CHECK ADD  CONSTRAINT [FK_Order_Meal_Customer] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customer] ([ID])
GO
ALTER TABLE [dbo].[Order_Meal] CHECK CONSTRAINT [FK_Order_Meal_Customer]
GO
ALTER TABLE [dbo].[Order_Meal]  WITH CHECK ADD  CONSTRAINT [FK_Order_Meal_Meal] FOREIGN KEY([MealID])
REFERENCES [dbo].[Meal] ([ID])
GO
ALTER TABLE [dbo].[Order_Meal] CHECK CONSTRAINT [FK_Order_Meal_Meal]
GO
ALTER TABLE [dbo].[Order_Meal]  WITH CHECK ADD  CONSTRAINT [FK_Order_Meal_Order] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Order] ([ID])
GO
ALTER TABLE [dbo].[Order_Meal] CHECK CONSTRAINT [FK_Order_Meal_Order]
GO
ALTER TABLE [dbo].[Supplier_ingridient]  WITH CHECK ADD  CONSTRAINT [FK_Supplier_ingridient_Ingridient] FOREIGN KEY([IngridientID])
REFERENCES [dbo].[Ingridient] ([ID])
GO
ALTER TABLE [dbo].[Supplier_ingridient] CHECK CONSTRAINT [FK_Supplier_ingridient_Ingridient]
GO
ALTER TABLE [dbo].[Supplier_ingridient]  WITH CHECK ADD  CONSTRAINT [FK_Supplier_ingridient_Supplier] FOREIGN KEY([SupplierID])
REFERENCES [dbo].[Supplier] ([ID])
GO
ALTER TABLE [dbo].[Supplier_ingridient] CHECK CONSTRAINT [FK_Supplier_ingridient_Supplier]
GO
USE [master]
GO
